.about {
  background-image: url(../../assets/bg/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
  padding: 80px 0;
  position: relative;
}

.about::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/bg/color-sharp.png);
}

.heading {
  text-align: center;
  padding: 80px 0;
  color: var(--white-color);
  text-transform: capitalize;
}
.heading h2 {
  font-size: 20px;
  padding-bottom: 15px;
  position: relative;
}
.heading h2 span {
  color: var(--main-color);
}
.heading svg {
  color: var(--white-color);
  font-size: 20px;
  margin-left: 3px;
}
.heading h2::before {
  content: "";
  position: absolute;
  left: calc(50% - 55px);
  top: 50px;
  background-color: var(--main-color);
  width: 80px;
  height: 2px;
  transform: translateX(-50%);
}
.heading h2::after {
  content: "";
  position: absolute;
  left: 53%;
  top: 50px;
  background-color: var(--main-color);
  width: 80px;
  height: 2px;
  transform: translateX(-50%);
  left: calc(50% - 10px);
  left: calc(50% - -58px);
}
.about .box-content {
  //   backdrop-filter: red(30px);
  display: flex;
  padding: 80px 0 0 0;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
}
.about .box-content .left {
  flex: 38%;
  margin-right: 2%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .box-content .left .image {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--background-card);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.about .box-content .left .image img {
  width: 100%;
  border-radius: 4%;
}
.about .box-content .left .content-icon {
  width: 40%;
  display: flex;
}
.about .box-content .left .span {
  width: 60%;
}
.about .contnet-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about .contnet-info .card {
  flex: 30%;
  margin: 0 1%;
  background-color: var(--background-card);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 0px;
}
.about .contnet-info .card svg {
  font-size: 25px;
  padding-top: 5px;
  color: var(--main-color);
}
.about .contnet-info .card h2 {
  color: var(--white-color);
  padding: 7px;
  font-size: 16px;
  text-transform: capitalize;
}
.about .contnet-info .card p {
  font-size: 17px;
}

.about .box-content .right {
  flex: 60%;
  margin: 0 2%;
}
.about .box-content .right h3 {
  font-size: 25px;
  color: var(--white-color);
  text-transform: capitalize;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.about .box-content .right h3 span {
  color: var(--main-color);
}
.about .box-content .right p {
  line-height: 26px;
  margin-bottom: 20px;
  color: var(--text-color-light);
}

.more-info .content-more {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.more-info .content-more .card {
  flex: 31%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
  padding: 30px;
  background: #1b1e27;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-info .content-more .card .circle-one,
.more-info .content-more .card .circle-two,
.more-info .content-more .card .circle-three {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
}
.more-info .content-more .card .circle-one {
  background-color: #e67e22;
}
.more-info .content-more .card .circle-two {
  background-color: var(--main-color);
}
.more-info .content-more .card .circle-three {
  background-color: #b33771;
}

.more-info .content-more .card .icon {
  width: 35px;
  height: 35px;
  background-color: var(--text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.more-info .content-more .card p {
  color: var(--white-color);
  font-size: 25px;
  padding: 4px 0;
}
.more-info .content-more .card h4 {
  color: var(--white-color);
  text-transform: capitalize;
  font-size: 20px;
}
@media (max-width: 992px) and (min-width: 768px) {
  .about .box-content {
    display: flex;
    flex-wrap: wrap;
  }
  .about .box-content .left {
    flex: 80%;
    margin: 20px auto;
  }
  .about .box-content .left .image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .about .box-content .right {
    flex: 80%;
    margin: 20px auto;
  }
}

@media (max-width: 767px) and (min-width: 540px) {
  .about::before {
    width: 0% !important;
  }
  .about .box-content {
    display: flex;
    flex-wrap: wrap;
  }
  .about .box-content .left {
    flex: 100%;
    margin: 20px auto;
  }
  .about .box-content .left .image {
    width: 100%;
  }
  .about .box-content .right {
    flex: 100%;
    margin: 20px auto;
  }
}
@media only screen and (max-width: 538px) {
  .about::before {
    width: 0% !important;
  }
  .about .box-content {
    display: flex;
    flex-wrap: wrap;
  }
  .about .box-content .left {
    flex: 95%;
  }
  .about .box-content .right {
    flex: 95%;
  }
  .more-info .content-more {
    display: flex;
    flex-wrap: wrap;
  }
  .more-info .content-more .card {
    flex: 98%;
    margin-bottom: 20px;
  }
  .about .contnet-info {
    margin-bottom: 20px;
  }
  .about .contnet-info .card {
    flex: 48%;
    text-align: center;
  }
  .about .contnet-info .card h2 {
    padding: 7px;
    font-size: 16px;
    margin: 5px;
    font-size: 19px;
    text-transform: capitalize;
    line-height: 27px;
  }
}
